* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

.head-img {
  display: block;
  margin-left: auto;
  margin-top: auto;
  width: 77%;
}

.button1 {
  display: block;
  border: 3px solid black;
  color: white;
  background-color: blue;
  width: 120px;
  height: 60px;
  text-align: center;
  width: 20%;
  margin-left: 350px;
  margin-right: 50px;
  margin-top: 40px;
}

.button1:hover {
  background-color: lightcoral;
}

footer {
  border: 1px solid black;
  position: fixed;
  background-color: blue;
  color: white;
  bottom: 0;
  width: 300px;
  height: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FIRST ROUND CSS */

h2 {
  display: flex;
  margin: 20px;
  background-color: aquamarine;
  text-align: center;
  align-items: center;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  display: flex;
  padding: 20px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.userInput {
  display: flex;
  justify-content: center;
  margin: 30px;
  height: 30px;
}

.button2 {
  display: inline-flex;
  width: 4%;
  height: 45px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.button2:hover {
  background-color: blue;
  color: white;
}


.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 5%; 
  background-color: navy;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}


.headerContainer h5 {
  margin: 0; 
  background-color: navy;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.button3 {
  display: flex;
  width: 70px;
  text-align: center;
  justify-content: end;
  margin-left: auto;
  margin-right: 25%;
}

.button3:hover {
  background-color: blue;
  color: white;
}

.boldQuestion {
  display: flex;
  text-align: center;
  background-color: #007fff;
  color: white;
  margin: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  font-size: 2rem;
}

.button4 {
  display: block;
  width: 6%;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button4:hover {
  background-color: blue;
  color: white;
}

.playButton {
  display: flex;
  justify-content: center;
}

/* first */

.category {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.category > li {
  border: 1px solid black;
  background-color: #007fff;
  width: 900%;
  height: 45px;
  text-align: center;
  margin: 50%;
  padding-top: 10px;
}

.category > li:hover {
  background-color: darkblue;
  color: white;
}

.first-round-point {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10%;
}

.aboutQuestions {
  display: flex;
  list-style: none;
  column-gap: 5%;
  margin: 4% 0 1% 15%;
}

.aboutQuestions > li {
  border: 1px solid black;
  background-color: blue;
  color: white;
  width: 10%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

/* second page */

.category1 {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 2%;
}

.category1 > li {
  border: 1px solid black;
  background-color: #007fff;
  width: 700%;
  text-align: center;
  margin: 34%;
  height: 45px;
  padding-top: 10px;
}

.category1 > li:hover {
  background-color: darkblue;
  color: white;
}

.second-round-point {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10%;
  text-align: center;
}

.questionAsked {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0%;
    padding: 0%;
    width: 100%;
    text-align: center;
    font-size: 60%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .first-round-category {
    justify-self: center;
  }
  h2 {
    font-size: 60%;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}


